body {
}

.row-padding { padding-top:30px; }


body .navbar-default {
  padding: 25px 0;
  background: #2c3e50
}

.title {
  font-size: 28px;
  color: #fff;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
}

.title:hover {
  color: #fff;
  text-decoration: none;
}

.nav-right {
  padding-top: 16px;
}

.nav-right a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  padding: 0 9px;

}

.nav-right a:hover {
  color: #1abc9c;
  text-decoration: none;
}


.green {
  background: #1abc9c;
  text-align: center;
}

/* header */
header {
  padding: 200px 0 96px;
}

.avatar {
  width: 21%;
  height: auto;
  margin-bottom: 48px;
}


header h1 {
  font-size: 64px;
  color: #fff;
  line-height: 56px;
  font-weight: 700;
}

header p {
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  font-weight: 300;
}

.divisore {
  display: inline-block;
  width: 100px;
  border-bottom: 5px solid #fff;
  border-radius: 1rem;
  vertical-align: bottom;
}

.divisore-ico {
  margin: 20px 0 24px;
}

.icon {
  font-size: 32px;
  color: #fff;
  vertical-align: middle;
}

.dividietimpera {
  margin: 20px 0 24px;
}


/* portfolio */

.portfolio {
  padding: 96px 0;
}

.portfolio h2 {
  font-size: 48px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 700;
}

.portfolio .divisore {
  border-color: #2c3e50;
}

.portfolio .icon {
  color: #2c3e50;
}

.portfolio img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* about */
.about {
  padding: 96px 0;
}

.about h1 {
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
}

.about p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: left;
}


.btn-con  {
  margin-top: 24px;
  text-align: center;
}

.about .btn-style {
font-size:20px;
line-height: 30px;
font-weight: 400;
color: #f8f9fa;
border: 2px solid;
line-height: 1.5;
border-radius: 7px;
padding: 16px 28px;
text-decoration: none;
}


.send {
  font-size:20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  background-color: #1abc9c;
  padding: 16px 28px;
  border-radius: 10px;
  border: #1abc9c 2px solid;

}
/* contact */

.contact {
  padding: 96px 0;
}

.contact h2 {
  font-size: 48px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 700;
}

.contact .divisore {
  border-color: #2c3e50;
}

.contact .icon {
  color: #2c3e50;
}

.form-center {

}

.contact input {
font-size: 24px;
line-height: 36px;
font-weight: 400;
height: 88px;
width: 100%;
border: 0;
border-bottom: 1px solid rgba(0,0,0,0.1);
background-color: #fff;
}

.contact input:last-of-type {
  margin-bottom: 130px;
}


/* footer */
footer {
  background: #2c3e50;
  padding: 80px 0;
}

footer h4 {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
}

footer p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
}

.copyright {
  padding: 24px 0;
  background-color: #1A252F;
}

small {
  font-size: 13px;
  line-height: 19px;
  color: #fff;
  font-weight: 400;
}
